/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  display: flex;
  align-self: stretch;
  width: 100vw;
  margin-bottom: 2px;
  height: 48px;
}

.notice,
.alert {
  display: flex;
  justify-content: space-evely;
  align-items: center;
  position: absolute;
  top: 50px;
  border: 1px solid #000;
  color: #000;
  background: #fff;
  padding: 5px;
  gap: 10px;
  right: 24px; 
}

.notice button,
.alert button {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 2px;
  border: none;
  outline: none;
}

.alert-color,
.alert-color button {
  background: #ff4433 !important;
  color: white !important;
  font-size: 32px;
}

.notice-color,
.notice-color button {
  background: #008a00 !important;
  color: white !important;
  font-size: 32px;
}
