.login-container {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 48px); 
  align-items: center;
  justify-content: center;
}

.card {
  width: 480px;
  background: #eee;
  box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 1);
}

.card-header {
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background: #1ba1e2;
}

.card-footer {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.card-header h2 {
  padding-left: 4px;
  padding-right: 4px;
}

#new_user {
  width: 100%;
  padding: 8px;
}

.form-controls {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content:  center;
  widht: 100%;
}

label { 
  display: block;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  border: 1px solid #000;
  padding: 0.15rem;
}


input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
  outline: none;
  border-color: #1ba1e2;
}

input[type="submit"] {
  color: black;
  background: white;
  padding: 6px;
  border: 1px solid #000;
  text-decoration: none;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #ddd;
}

input[type="submit"]:active {
  border: 1px solid #fff;
  color: white;
  background-color: black;
}


.signup,
.signup:visited {
  text-decoration: none;
  font-weight: 600;
  color: #1ba1e2;
}
