.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 24px;
}

.page-title {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  align-content: center;
  align-self: stretch;
  justify-content: space-between;
}

.page-title h2 {
  left: 24px;
  background: linear-gradient(45deg, #00aba9 25%, #1ba1e2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-title a {
  right: 24px;
}

table {
  margin-top: 12px;
}

table th {
  font-weight: 600;
}

.td-colspan {
  text-align: center;
  height: 120px;
}

.panel-board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.grid-controls-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 10px;
  align-self: stretch;
}

.panel-info {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 5px;
  width: 340px;
  background: #ddd;
}

.panel-grid-container {
  display: flex;
  gap: 2px;
  height: 480px;
}

.panel-grid {
  display: grid;
  width: 480px;
  height: 480px;
  background: #000;
  align-self: stretch;
}

.live-cell {
  border: 0.5px solid #b3b3b3;
  background: #fff;
}

.dead-cell {
  border: 0.5px solid #b3b3b3;
  background: #000;
}
